<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Recursos</title>
</head>
<body>
    <h1>Adicionar Novo Recurso</h1>
    <form method="post">
        <label for="nome">Nome: </label>
        <input type="text" id="nome" name="nome" required />

        <label for="descricao">Descrição:</label>
        <textarea id="descricao" name="descricao"></textarea>

        <button type="submit">Adicionar</button>
    </form>
    <br />
    <a href="{{ url_for('home') }}">Voltar para lista de recursos</a>
    </form>
</body>
</html>