<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <title>Recursos Disponíveis</title>
</head>
<body>
    <h1>Recursos</h1>
    <form method="get" action="/">
        <label for="data">Escolha a data:</label>
        <input type="date" name="data" value="{{ data }}">
        <button type="submit">Ver disponibilidade</button>
    </form>

    <ul>
        {% for recurso in recursos %}
          <li>
            <strong>{{ recurso['nome'] }}</strong>: {{ recurso['descricao'] }}<br>
            <span>Status: <strong>{{ recurso['status'] }}</strong></span>
          </li>
        {% endfor %}
      </ul>

    <button><a href="{{url_for('adicionar_recurso_view')}}">Adicionr Recurso</a></button>
    <button><a href="{{url_for('reservar_view')}}">Reservar Recurso</a></button>


</body>
</html>
