<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <title>Reservar Recurso</title>
</head>
<body>
    <h1>Reservar um Recurso</h1>
    <form method="POST">
        <label for="recurso_id">Recursos Disponiveis:</label><br >
        <select name="recurso_id" required>
            {% for recurso in recursos %}
                <option value="{{ recurso['id'] }}">{{ recurso['nome']}}</option>   
            {% endfor %}
        </select><br>

        <label for="usuario_nome">Seu nome:</label>
        <input type="text" name="usuario_nome" required />

        <label for="data">Data da reserva:</label>
        <input type="date" name="data" required />


        <label for="hora_inicio">Inicio de Uso:</label>
        <input type="datetime" name="hora_inicio" required />


        <label for="hora_fim">Horario de Fim do Uso:</label>
        <input type="datetime" name="hora_fim" required />

        <button type="submit">Reservar</button>
    </form>
    
    <a href="{{ url_for('home') }}">Voltar para lista</a>
</body>
</html>
